<div class="container-fluid bg-all">
<div class="row">
  <div class="col-3 "><img src="assets/7.png" alt="Rufus thinking" height="300"></div>
  <div class="col-9">
    <div class="bg-editor p-2">
      <form>
          <div class="row-2 justify-content-between">
              <label>Python Executor</label>
              <button (click)="execute()" type="submit" class="btn btn-danger float-right">Ejecutar</button>
          </div>
          <div class="form-group mt-4">
              <textarea [(ngModel)]="code" [ngModelOptions]="{standalone: true}" (keydown)="onTab($event)" #r class="form-control" id="code" rows="10" placeholder="# Write your code here"></textarea>
          </div>
      </form> 
    </div>
    <div class="bg-response p-2 mt-4">
      <label>Response</label>
      <textarea class="form-control" [ngStyle]="{'color': pythonError ? 'red' : 'black'}" id="response" rows="3" disabled>{{response}}</textarea>
    </div>
  </div>
</div>
</div>